<form id="change-password-form">
	<div class="form-group">
		<label for="txt-pwd-old">Current Password:</label>
		<input type="password" class="form-control" name="old" id="txt-pwd-old" placeholder="Enter current Password" value="">
	</div>
	<div class="form-group">
		<label for="txt-pwd-new"> New Password：</label>
		<input type="password" class="form-control" name="new" id="txt-pwd-new" placeholder="Enter new password" value="">
	</div>
	<div class="form-group">
		<label for="txt-pwd-new-r">Confirmation New Password</label>
		<input type="password" class="form-control" name="new-r" id="txt-pwd-new-r" placeholder="Enter confirmation new password" value="">
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-primary" onclick="PwdManager.changepwd();">Update</button>
		<button type="button" class="btn btn-default" onclick="PwdManager.resetpwd();">Reset</button>
	</div>
</form>