<div id="reservation-manage">
	<div>
		Date:
		<!-- <a href="javascript:;" onclick="changeDay(-1);"><<<<<</a> -->
		<input type="text" value="" id="txt-reservation-date" readonly="readonly" />
		<!-- <a href="javascript:;" onclick="changeDay(1);">>>>>></a> -->
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Room</th>
				<th>Periode</th>
				<th>Person</th>
				<th>Time Reservation</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="reservation-table-body">
		</tbody>
	</table>
</div>

<script type="text/html" id="template-reservation-list">
	{{each reservations as re}}
	<tr>
		<td>{{re.date}}</td>
		<td>{{re.roomName}}</td>
		<td>{{re.startMinute |minuteFormat}} - {{re.endMinute |minuteFormat}}</td>
		<td>{{re.userName}}</td>
		<td>{{re.ip}}</td>
		<td>{{re.createDate}}</td>
		<td>
			<a class="btn danger" href="javascript:;" onclick="ReservationManager.delete('{{re._id}}')">删除</a>
		</td>
	</tr>
	{{/each}}
</script>