<script type="text/html" id="template-signup">
    <div class="col-lg-6 col-lg-offset-3 opacity-90 bg-color padding-30 radius">
        <h2>Welcome to meeting room booking system</h2>
        <h3 class="subtitle">Please enter your credential</h3>

        <div class="form-inline signup" role="form" action="#">
            <div class="form-group">
                <input type="input" class="form-control" id="binding-name" placeholder="Name Official" />
                <a href="javascript:void(0);" id="btn-sign-up" class="btn btn-warning" onclick="signup();">Submit</a>
            </div>
            <div></div>
        </div>
    </div>
</script>